<div class="taxon">
  <div class="container">

    <nav id="breadcrumbs" class="col-12 mt-1 mt-sm-3 mt-lg-4" aria-label="breadcrumb"><ol class="breadcrumb" itemscope="itemscope" itemtype="https://schema.org/BreadcrumbList"><li itemscope="itemscope" itemtype="https://schema.org/ListItem" itemprop="itemListElement" class="breadcrumb-item"><a itemprop="url" href="/"><span itemprop="name">Inicio</span><meta itemprop="position" content="0"></a><span itemprop="item" itemscope="itemscope" itemtype="https://schema.org/Thing" itemid="/"></span></li><li itemscope="itemscope" itemtype="https://schema.org/ListItem" itemprop="itemListElement" class="breadcrumb-item"><a itemprop="url" href="/preguntas-frecuentes"><span itemprop="name">Preguntas frecuentes</span><meta itemprop="position" content="1"></a><span itemprop="item" itemscope="itemscope" itemtype="https://schema.org/Thing" itemid="/preguntas-frecuentes"></span></li></ol></nav>
    <div class="py-md-3 text-uppercase taxon-title">
      Preguntas frecuentes
    </div>
  </div>

  <!-- Team-->
  <section id="team">
    <div class="container">

      <div class="row">
        <div id="accordion" style="margin-top: 15px; margin-bottom: 15px; width: 100%">
          <div class="card">
            <div class="card-header" id="heading1">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                  ¿Cuanto tiempo lleva la construcción de una pileta?
                </button>
              </h5>
            </div>

            <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordion">
              <div class="card-body">
                Entre 8 y 20 días dependiendo del tamaño de la pileta y de factores como el acceso de maquinaria al terreno.
              </div>
            </div>
          </div>


          <div class="card">
            <div class="card-header" id="heading2">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  ¿Cuánto cuesta construir una pileta?
                </button>
              </h5>
            </div>
            <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
              <div class="card-body">
                Entre $xxxx y $xxxx según tamaño, accesorios y espacios construidos. Mirá los precios que publicamos en Construcción de piletas (link a los renders) para que te des una buena idea.
              </div>
            </div>
          </div>


          <div class="card">
            <div class="card-header" id="heading3">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                  ¿Cual es la ventaja que ofrece <strong>LaPile</strong> con respecto a otros constructores?
                </button>
              </h5>
            </div>
            <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
              <div class="card-body">
                Hay muchos buenos constructores en córdoba, pero hay muchos más que no lo son. Sabemos que la mayoría de las personas que quieren construir una pileta, quieren que sea de buena calidad para no tener problemas de reparaciones, y están dispuestas a pagar un precio justo, pero no más, por esa calidad. LaPile se concentra en ese punto, sin caer en la negativa actitud de “bajar unos pesos” para “ganar un proyecto” sacrificando calidad de materiales o apurando procesos constructivos irresponsablemente.  Mirá en la sección de quienes somos donde nos presentamos los responsables de mantener estos valores, y sabrás con quienes vas a tratar al construir tu pileta con LaPile.
              </div>
            </div>
          </div>




          <div class="card">
            <div class="card-header" id="heading4">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                  ¿En qué consiste la garantía?
                </button>
              </h5>
            </div>
            <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
              <div class="card-body">
                El casco de hormigón y la mampostería (la pileta en sí) tiene10 años de garantía otorgada por LaPile y firmada por ingeniero civil. Los equipamientos de filtrado y bomba tienen x año de garantía otorgada por el fabricante. Los componentes eléctricos y electrónicos tienen X meses de garantía otorgada por el fabricante. Por lo general Vulcano es el fabricante. <br/>
                La Garantía se entrega en dos formatos, papel firmado y sellado, y electrónicamente por email o whatsapp.
              </div>
            </div>
          </div>


          <div class="card">
            <div class="card-header" id="heading5">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                  ¿Cuál es el método constructivo utilizado?
                </button>
              </h5>
            </div>
            <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordion">
              <div class="card-body">
                El método constructivo es el tradicional. con losa de hormigón armado, mampostería de ladrillos y columnas de encadenado. Las ventajas son… (ayuda con el chamuyo)
              </div>
            </div>
          </div>


          <div class="card">
            <div class="card-header" id="heading6">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                  ¿Entregan la pileta lista para usar?
                </button>
              </h5>
            </div>
            <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordion">
              <div class="card-body">
                Sí, además te enseñamos cómo se debe hacer el mantenimiento para que no te preocupes por nada.
              </div>
            </div>
          </div>


          <div class="card">
            <div class="card-header" id="heading7">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                  ¿Qué incluye la pileta?
                </button>
              </h5>
            </div>
            <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordion">
              <div class="card-body">
                Para que la pileta se pueda usar debe tener el equipamiento necesario instalado, dependiendo de la pileta que construyas, el equipamiento que se instalará. En todos los casos incluirá los componentes hidráulico y eléctricos, losetas atérmicas perimetrales u otro material si así lo requiere el cliente, pintura acrílica para piletas o revestimiento a elección del cliente. Pero variará si el proyecto incluye solar seco, jacuzzi y otros servicios. Te recomendamos que mires el listado de piletas con sus descripciones y detalles en la sección de construcción de piletas para darte una buena idea de lo que incluye cada pileta.
              </div>
            </div>
          </div>


          <div class="card">
            <div class="card-header" id="heading8">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                  ¿Cuáles son los accesorios imprescindibles?
                </button>
              </h5>
            </div>
            <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordion">
              <div class="card-body">
                Existen los imprescindibles y los recomendables, como imprescindible son xxxxxx y como recomendable serían las luces y xxxxx
              </div>
            </div>
          </div>


          <div class="card">
            <div class="card-header" id="heading9">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                  ¿Qué accesorios y servicios adicinales ofrecen?
                </button>
              </h5>
            </div>
            <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordion">
              <div class="card-body">
                hidromasajes, climatización, cerramiento, colocación de deck, solar seco, cascadas, xxxxxx
              </div>
            </div>
          </div>


          <div class="card">
            <div class="card-header" id="heading10">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                  ¿Qué gastos no están incluidos en el precio?
                </button>
              </h5>
            </div>
            <div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#accordion">
              <div class="card-body">
                Si durante la excavación se encuentran cañerías o tendidos de cables o cualquier otra instalación que requiera modificaciones en dichas instalaciones. LaPile podrá solucionar estas situaciones inesperadas pero tendrán un costo adicional según su complejidad.
              </div>
            </div>
          </div>


          <div class="card">
            <div class="card-header" id="heading11">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                  ¿Proveen o gestionan la compra de todos los materiales para la construcción de la pileta?
                </button>
              </h5>
            </div>
            <div id="collapse11" class="collapse" aria-labelledby="heading11" data-parent="#accordion">
              <div class="card-body">
                Sí, nos encargamos de toda la logística para que los materiales estén disponibles al momento de usarlos.
              </div>
            </div>
          </div>


        </div>
      </div>

    </div>
  </section>
</div>
