<!-- Team-->
<section class="page-section bg-light" id="team">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Equipo LaPile</h2>
      <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="<%= asset_path('team/1.jpg') %>" alt="" />
          <h4>Marcos Filardi</h4>
          <p class="text-muted">Operaciones</p>
          <div>
            <p class="large text-muted">
            Líder y ejecutor de todo el proceso para la construcción de tu pileta, manejando equipos
            multidiciplinarios que conforman LaPile. Marcos garantiza que todo el proyecto se ejecute como fue planeado,
            asegurando tu satisfacción al finalizar el proyecto. Cuando LaPile termina un proyecto, nuestros clientes
            buscan a Marcos porque necesitan agradecerle, pero no saben como expresar que son agradecimientos sinceros.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="<%= asset_path('team/2.jpg') %>" alt="" />
          <h4>Maximiliano Correa</h4>
          <p class="text-muted">Ingeniería</p>
          <div>
            <p class="large text-muted">
            El cerebro que calcula todas las fórmulas, otorgando verdadera garantía constructiva por su firma de ingeniero civil,
            pero aún más importante es que Maxi logra verdadera calidad en todas las piletas que construímos.
            En LaPile todos trabajamos tranquilos porque sabemos que Maxi no permitirá arrancar ningún proyecto
            que no esté bien pensado desde el inicio. Esa misma tranquilidad vas a sentir vos también.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="<%= asset_path('team/3.jpg') %>" alt="" />
          <h4>Javier Filardi</h4>
          <p class="text-muted">Asesoramiento al cliente y diseño</p>
          <div>
            <p class="large text-muted">
            Javier es quien escucha y entiende tus necesidades, te guía y aconseja en distintas opciones
            según tus preferencias. Trabaja conjuntamente con el equipo de arquitectura y diseño para presentarte
            una solución estética personalizada a la situación especifica de tu proyecto. Javier te aclara esas dudas
            y temores que podés tener antes de iniciar el proyecto.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="<%= asset_path('team/1.jpg') %>" alt="" />
          <h4>Matias Renta</h4>
          <p class="text-muted">Tecnología y procesos</p>
          <div>
            <p class="large text-muted">
            LaPile es una empresa moderna y eficiente que usa muchas y variadas tecnologías.
            Mati "orquesta" toda nuestra tecnología para que trabajemos coordinados y colaborativamente.
            Le dá inteligencia a los equipos de trabajo sistematizando soluciones y minimizando los errores.
            Es quien marca el camino para que LaPile logre entregar el mayor valor en cada proyecto.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p></div>
    </div>
  </div>
</section>