<ul class="nav align-items-center d-flex justify-content-end navbar-right">



  <li>
    <div class="navbar-right-search-menu" style="display: none;">
      <a target="blank" rel="nofollow noopener" href="https://facebook.com/lapile.com.ar">
      <div class="navbar-right-dropdown-toggle search-icons" aria-label="facebook">
        <%= icon(name: 'facebook',
                 classes: 'd-none d-xl-inline-block',
                 width: 36,
                 height: 36)  %>

        <%= icon(name: 'facebook',
                 classes: 'd-xl-none',
                 width: 24,
                 height: 24)  %>
      </div>
      </a>
    </div>
  </li>

  <li>
      <div class="navbar-right-dropdown" style="display: none;">
        <a target="blank" rel="nofollow noopener" href="https://instagram.com/lapile.com.ar">
        <div id="insta" class="navbar-right-dropdown-toggle" aria-label="instagram" href="lapile.com.ar">
          <%= icon(name: 'instagram',
                  classes: 'd-none d-xl-inline-block',
                  width: 41.4,
                  height: 36)  %>

          <%= icon(name: 'instagram',
                  classes: 'd-xl-none',
                  width: 27.6,
                  height: 24)  %>
        </div>
        </a>
      </div>
  </li>


</ul>
